
<!-- <p>This is the projectlist view.</p>
 -->
<!DOCTYPE html>
<html ng-app="uGisFrontApp">

<head>

  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>易云图3D Viewer</title>

  <meta property="og:url"                content="http://test.yiyuntu.cn/#/3dviewer" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="易云图3D Viewer" />
  <meta property="og:description"        content="易云图3D Viewer" />
  <meta property="og:image"              content="http://yiyuntu-oss-bucket01.oss-cn-shenzhen.aliyuncs.com/screen.png" />


</head>

<body >
  <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
    <img src="http://yiyuntu-oss-bucket01.oss-cn-shenzhen.aliyuncs.com/screen.png" width='700'>
  </div>
    <!-- <div dashboard-header>

    </div> -->
    <div class="navbar navbar-default navbar-static-top header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo">
                </a>
                <span class="navbar-brand1">
                易云图
              </span>
            </div>
            <!-- <div class="collapse navbar-collapse shortcut" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="javascript:void(0);">
                            <img alt="Avatar" src="./images/个人.png"> {{header.roler}}: {{header.username}}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">帮助</a>
                    </li>
                    <li class="last">
                        <a href="#/login" ng-click="header.logout()">退出</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <iframe

    src="https://www.altizure.com/project/57037d0d09042efc13689f94/model/embed"

    style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 100%; border: none; margin: 0; padding: 0; overflow: hidden;"

    </iframe>
</body>

</html>
