
<!-- <p>This is the projectlist view.</p>
 -->
<!DOCTYPE html>
<html ng-app="uGisFrontApp">

<head>
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
</head>

<body >

    <div dashboard-header>

    </div>
    <iframe

    src="https://www.altizure.com/project/57037d0d09042efc13689f94/model/embed#autoplay=false"

    style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 100%; border: none; margin: 0; padding: 0; overflow: hidden;"

    </iframe>
</body>

</html>
