<div class="module" annotationPanel>
    <!-- <button  class="btn btn-block btn-info"
  ng-show="isAnnotationSelected()"
  ng-click="unSelectAnnotation()">返回</button> -->
    <!--   <div class="module-content module-drawtool" ng-show="!isAnnotationSelected()">
    <div class="module-title">标注工具</div>
    <ul class="annotation-switch-wrapper">
      <li class="active" ng-click="startDrawMarker()">
        <a class="mark" alt="标注" class="img-thumbnail"></a><span>标注</span>
      </li>
      <li ng-click="startDrawPolyline()">
        <a class="polyline" alt="距离测量" class="img-thumbnail"></a><span>距离测量</span>
      </li>
      <li ng-click="startDrawPolygon()">
        <a class="polygon" alt="面积测量" class="img-thumbnail"></a><span>面积测量</span>
      </li>
    </ul>
  </div> -->
    <div class="module-content module-featureinfo" ng-show="isAnnotationSelected()">
        <a class="btn btn-icon icon-back" ng-click="unSelectAnnotation()">返回</a>
        <a class="btn-icon icon-del btn-del" ng-click="onDelFeatureClick()"></a>
        <div class="module-Annotation">
            <div class="col-md-12" ng-show="isShowMarkerPanel()">
                <div class="col-md-4">
                    <label>坐标</label>
                </div>
                <div class="col-md-8">
                    {{markerPos}}
                </div>
            </div>
            <div class="col-md-12" ng-show="isShowPolylinePanel()">
                <div class="col-md-4">
                    <label>长度</label>
                </div>
                <div class="col-md-8">
                    {{polylineLen}}
                </div>
            </div>
            <div class="col-md-12" ng-show="isShowPolygonPanel()">
                <div class="col-md-4">
                    <label> 面积</label>
                </div>
                <div class="col-md-8">
                    {{polygonArea}}
                </div>
            </div>
            <div class="col-md-12 form" ng-show="isAnnotationSelected()">
                <div class="col-md-4">
                    <label>标题</label>
                </div>
                <input class="form-control  ng-dirty ng-invalid" id="annotationTitle" ng-model="annotationTitle" ng-blur="updateAnnotationTitle()">
                <div class="col-md-4">
                    <label>备注</label>
                </div>
                <textarea class="form-control  ng-dirty ng-invalid" id="newComment" ng-model="newComment"></textarea>
                <button class="btn btn-block btn-info btn-send" ng-click="onNewCommentAcceptClick()">发送</button>
                <table class="table" ng-repeat="comment in annoComms" ng-show="isAnnotationSelected()">
                    <tbody>
                        <tr>
                            <td>{{comment.comment}}</td>
                            <td>{{comment.create_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
