<div class="navbar navbar-default navbar-static-top header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo">
            </a>
            <span class="navbar-brand1">
            易云图  
          </span>
        </div>
        <div class="collapse navbar-collapse shortcut" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img alt="Avatar" src="./images/个人.png"> {{header.roler}}: {{header.username}}
                    </a>
                </li>
                <li>
                    <a href="#">帮助</a>
                </li>
                <li class="last">
                    <a href="#/login">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
