<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <!-- <script src="../bower_components/ng-dialog/js/ngDialog.js"></script> -->
  <!-- <link rel="stylesheet" href="bower_components/leaflet-dialog/Leaflet.Dialog.css"/>
  <link rel="stylesheet" href="bower_components/leaflet-search/src/leaflet-search.css" />-->
  

</head>
<body ng-controller="DashboardCtrl">

  <div id="mapid" ></div>
	<div id="button-wrapper">
	     <input type="button" id="Btn1" value="列表" class="btn btn-info" ng-click="switchMapListView()"/>
	     <input type="button" id="Btn2" value="新作业" class="btn btn-success" ng-click="createNewMap()"/>       
	</div> 
  <ng-pop-up option="ngPopupConfig"></ng-pop-up>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>


</body>
</html>
