<!DOCTYPE html>
<html id="ng-app" ng-app="uGisFrontApp">
  <head>
    <meta charset="utf-8">
    <title>ExifReader Example</title>
<!--      <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/exifreader/js/ExifReader.js"></script>
    <script src="./scripts/controllers/fileinfo.js"></script>  -->
  </head>

  <body ng-controller="FileInfoCtrl">
     <form>
      <label for="file">
        Choose a file from your computer:<br />
        <input type="file" id="file" name="file" multiple />
      </label>
    </form>
    <table style="margin-top: 12px;">
      <thead>
        <tr>
          <th>Tag name</th>
          <th>Tag value</th>
        </tr>
      </thead>
      <tbody id="exif-table-body">
      </tbody>
    </table> 
  </body> 
</html>