<html>
  
  <head>
   
  </head>
  
  <body ng-app="uGisFrontApp" ng-controller="ForgetPasswordCtrl">
    <div class="cover">
      <div class="cover-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img alt="report_pdf" src="images/LOGO-Login.png">
            <h3 class="text-info">让数据变得更简单</h3>
            <br>
            <br>
            <p>找回密码</p>
            <hr>
            <div class="container">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <form role="form">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" id="InputEmail" placeholder="邮箱" type="email" ng-model="email">
                      </div>
                      <span ng-show="error_no_email" style="color:red;">此邮箱没有注册</span>
                    </div>
                    <br>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <input class="form-control" id="InputVerification" placeholder="验证码"
                        type="text" ng-model="inputVerifyCode">
                      </div>
                      <span ng-show="error_verifycode" style="color:red;">验证码错误</span>
                    </div>
                    <div class="col-sm-7">
                      <div class="form-group">
                        <label id="autoRandom">{{verify_code}}</label>
                      </div>
                    </div>
                    <br>
                    <div class="col-sm-12">
                      <div class="container text-right">看不清楚？
                        <a style="cursor: pointer;" ng-click="createVerifyCode()">换一张</a>
                      </div>
                    </div>
                    <br>
                    <div class="col-sm-12">
                     <span ng-show="send_email_success" style="color:blue;">发送重置密码邮件成功</span><br>
                      <button type="submit" class="btn btn-block btn-info" ng-click="resetPwd()">发送重置邮件</button>

                    </div>
                    
                    
                  </form>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>