<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css"> -->
</head>

<body ng-app="uGisFrontApp" ng-controller="OwnerProjectCtrl">
    <div dashboard-header>
    </div>
    <div class="page-main">
        <div class="breadcrumb-wrapper">
            <ol>
                <li class="btn-wrapper"><a href="#/dashboard" class="btn btn-default">返回</a></li>
                <li><a href="#/dashboard">易云图</a></li>
                <li><a href="#/dashboard">已完成项目</a></li>
                <li><a href="#/project/{{projectId}}">详情</a></li>
            </ol>
        </div>
        <div class="sidebar-row side-left">
            <div class="module">
                <div class="module-title">成果</div>
                <div class="module-content">
                    <ul class="mapswitch-wrapper">
                        <li class="active" ng-click="swtichLoadMap('Orthphoto')">
                            <a class="sate" alt="影像图" class="img-thumbnail"></a><span>影像图</span></li>
                        <li ng-click="swtichLoadMap('NDVI')">
                            <a class="ndvi" alt="3D模型" class="img-thumbnail"></a><span>3D模型</span></li>
                        <li ng-click="swtichLoadMap('Elevation')">
                            <a class="elevation" alt="高程图" class="img-thumbnail"></a><span>高程图</span></li>
                    </ul>
                </div>
            </div>
            <div class="module report">
                <div class="module-title">报告</div>
                <div class="module-content">
                    <table class="table" ng-repeat="report in reports">
                        <tbody>
                            <tr>
                                <td> <img alt="report_pdf" src="./images/pdf.png"></td>
                                <td>{{report.name}}</td>
                                <td><a class="btn btn-primary btn-sm" href={{report.report_file_url}}>下载</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div id="mapid" class="map"></div>
        </div>
    </div>
</body>

</html>
