<html>
  
  <head>
    
  </head>
  
  <body ng-controller="RegisterCtrl">
    <div class="cover">
      <div class="cover-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img alt="report_pdf" src="images/LOGO-Login.png">
            <h3 class="text-info">让数据变得更简单</h3>
            <br>
            <br>
            <p>注册</p>
            <hr>
            <div class="container">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <form name="registerForm" ng-submit="registerForm.$valid && register()" novalidate>
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-invalid" id="InputEmail" placeholder="邮箱" type="email" ng-model="email" required>
                      <span ng-show="error_used_email" style="color:red;">邮箱已经被使用</span>
                    </div>
                    <br>
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-invalid" id="InputUserName" placeholder="用户名" ng-model="username" required>
                      <span ng-show="error_used_username" style="color:red;">用户名已经被使用</span>
                    </div>
                    <br>
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-invalid" id="InputPassword" placeholder="密码"
                      type="password" ng-model="password" required>
                    </div>
                    <br>
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-block btn-info" ng-click="register()">注册</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>