<html>
  
  <head>
  </head>
  
  <body ng-app="uGisFrontApp" ng-controller="ResetPasswordCtrl">
    <div class="cover">
      <div class="cover-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img alt="report_pdf" src="images/LOGO-Login.png">
            <h3 class="text-info">让数据变得更简单</h3>
            <br>
            <br>
            <p>找回密码</p>
            <hr>
            <div class="container">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <form role="form">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" id="InputNewPassword" placeholder="新密码" type="password"
                        ng-model="new_password">
                      </div>
                    </div>
                    <br>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" id="InputVerification" placeholder="确认新密码"
                        type="password" ng-model="confirm_password">
                      </div>
                      <span ng-show="error_diff_confirm_pwd" style="color:red;">两次输入密码不一致</span>
                    </div>
                    <br>
                   
                    <br>
                    <div class="col-sm-12">
                      <span ng-show="change_pwd_success" style="color:blue;">密码修改成功，请用新密码重新登录</span>
                      <br>
                      <button type="submit" class="btn btn-block btn-info" ng-click="resetPwd()">发送重置邮件</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>